.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/out/
*/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/kodilla-exception/out/
/kodilla-stream/out/
/kodilla-testing/out/

/kodilla-good-patterns/build.gradle
/kodilla-spring-intro/build/
/kodilla-spring-intro/build.gradle
/kodilla-spring-intro/out/
/kodilla-testing/build/
/kodilla-stream/build/
/kodilla-good-patterns/build/
/kodilla-good-patterns/out/
/.gradle/
